@media screen and (max-width: 769px) {
	.desktop-view {
		display: none;
	}
}
@media screen and (min-width: 769px) {
	.mobile-view {
		display: none;
	}
}

.header > div
{
	background: inherit;
	padding: 20px;
}
@media screen and (max-width: 769px)
{
.header
{
	display:grid;
	grid-template-columns: 80% 20%;
	padding: 22px;
}
}
@media screen and (min-width: 769px)
{
.header
{
	display:grid;
	grid-template-columns: 85% 15%;
	padding: 22px;
}
}
.homepage
{
	width: auto;
	height: auto;
	background-image:url("https://images.unsplash.com/photo-1539603094258-e61b393cbd52?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=72d48ccd425134d86f1c5f82e0103e38&auto=format&fit=crop&w=1350&q=80");
	position: relative;
	padding-bottom: 38px;
}
@media screen and (min-width: 769px)
{
.header-icon
{
	color: white;
	font: sans-serif;
	font-size: 40px;
	margin-left: 5%;
}
}
@media screen and (max-width: 769px)
{
.header-icon
{
	color: white;
	font: sans-serif;
	font-size: 30px;
	margin-left: 5%;
}
}
.menu
{
	color: white;
	font-family: "arial", sans-serif;
	margin-right: 10%;
	margin-top: 20px;
}
@media screen and (min-width: 769px)
{
.imgmenu
{
	position: fixed;
	padding-left: 5px;
	margin-right: 30px;
	margin-top: -9px;
}
}
@media screen and (max-width: 769px)
{
.imgmenu
{
	position: fixed;
	padding-left: 0px;
	margin-right: 2%;
	margin-top: -9px;
	overflow: hidden;
}
}
.menu:hover,.menu:focus,.menu:active
{
	color: #FF69B4;
	pointer-events: visiblePainted;
	cursor: pointer;
}
@media screen and (max-width: 768px) {
.mid-section
{
	display: grid;
	grid-template-columns: 70% 30%;
	height: 400px;
}
}
@media screen and (min-width: 768px) {
	.mid-section
{
	display: flex;
	width: 100%;

}
}
@media screen and (min-width: 768px)
{
	.we-are-area
{
	display: grid;
	grid-template-rows: 50% 50%;
	margin-top: 30px;
	margin-left: 10%;
	width: auto;
	max-width: 55%;
}

}
@media screen and (max-width: 768px)
{
	.we-are-area
{
	display: grid;
	grid-template-rows: 50% 50%;
	margin-top: 30px;
	margin-left: auto;
	width: auto;
	max-width: 100%;
}
}

@media screen and (max-width: 769px)
{
h1
{
	font-size: 55px;
	color: white;
	font-family: "domine-bold",serif;
	margin: 10% auto 2% 12%; 
	margin-bottom: 0px;
	line-height: 85%;
	text-shadow: 3px 3px 12px #000000;
	text-align: left;
}

}

@media screen and (min-width: 769px)
{
h1
{
	font-size: 75px;
	color: white;
	font-family: "domine-bold",serif;
	margin-left: 50px;
	margin: 30px auto;
	line-height: 85%;
	text-shadow: 3px 3px 12px #000000;
}
}

@media screen and (min-width: 769px) {
	.mid-section
{
	display: flex;
	width: 100%;
	margin: 0;
	text-align: center;

}
}
@media screen and (max-width: 769px) {
	.mid-section
{
	display: flex;
	width: 100%;
	margin: 0;
	text-align: center;

}
}
@media screen and (max-width: 769px)
{
	.linkarea
	{
		display: none;
		width: 0%;
	}
}
@media screen and (min-width: 767px)
{
.desc-bar-para
{
	padding: 0px;
	color: #ddd;
	font-family: sans-serif;
	font-size: 30px;
	margin-left: 55px;
	margin-top: 10px;
	text-shadow: 2px 2px 8px #000000;
	text-align: left;
}
}
@media screen and (max-width: 767px)
{
.desc-bar-para
{
	padding: 5% 0px 0px 0px;
	color: #ddd;
	font-family: sans-serif;
	line-height: 120%;
	width: 100%;
	font-size: 20px;
	margin: 28px auto;
	text-align: left;
	text-shadow: 2px 2px 8px #000000;
}
}
@media screen and (min-width: 769px)
{
.home-desc
{
	display: grid;
	grid-template-columns: 10% 90%;
}
}
@media screen and (max-width: 769px)
{
.home-desc
{
	display: grid;
	grid-template-columns: 100%;
	margin: auto 13%;
}
}
@media screen and (min-width: 767px)
{
.desc-bar
{
	color: #FF69B4;
	margin-left: 50px;
	margin-top: 15px;
	width: 100%;
	text-align: left;
}
}
@media screen and (max-width: 767px)
{
.desc-bar
{
	color: #FF69B4;
	margin-left: 5%;
	margin-top: 15%;
	width: 100%;
	text-align: left;
}
}
body
{
	margin: 0px auto;
	box-sizing: border-box !important;
	width: auto;
	height: auto;
	max-width: 100%;
}
@media screen and (min-width: 769px)
{
.linkarea
{
	display: grid;
	grid-template-rows: 30% 30% 30%;
	height: 280px;
	margin-top: 80px;
	margin-left: 140px;
	margin-right: 0px;
	width: 30%;
}
}
.linkarea-list
{
	background: rgba(0,0,0,0.3);
	height: 82px;
	position: relative;
}
.dot
{
	padding: 10px 5px 15px 15px;
	color: #FF69B4;
	font-size: 300%;
	position: absolute;
	left: 6px;
}
.listarea-content
{
	color: rgba(255,255,255,0.8);
	text-decoration: none;
	font-family: sans-serif;
	letter-spacing: 3px;
	position: absolute;
	left: 40px;
	top: 20px;
	
}
.link-desc
{
	color: rgba(255,255,255,0.5);
	font-family: sans-serif;
	font-size: 17px;
	position: absolute;
	left: 40px;
	bottom: 5px;
}
.linkarea-list:hover
{
	background-color: rgba(0,0,0,0.5);
}
.listarea-content:hover
{
	color: #FF69B4;
}
.lowersec
{
	display: grid;
	grid-template-columns: 70% 30%;
	margin-top: 80px;
}
.scrolldowna
{
	margin-left: 50%;
	color: white;
	font-size: 20px;
	text-decoration: none;
}
.scrolldowna:hover
{
	color: black;
}
@media screen and (min-width: 769px)
{
.followus-a
{
	display: grid;
	grid-template-columns: 20% 15% 15% 15%;
	margin-left: 60px;
}
}
@media screen and (max-width: 769px)
{
.followus-a
{
	display: grid;
	grid-template-columns: 30% 20% 20% 20%;
	margin-left: 60px;
}
}
.sociallink
{
	color: white;
	font-size: 16px;
	text-decoration: none;
	font-family: sans-serif;
}
.sociallink:hover
{
	color: black;
}
@media screen and (min-width: 769px)
{
.followus-content
{
	color: white;
	font-family: serif;
	font-size: 18px;
	display: grid;
	grid-template-columns: 70% 30%;
	position: relative;
}
}
@media screen and (max-width: 769px)
{
.followus-content
{
	color: white;
	font-family: serif;
	font-size: 12px;
	display: grid;
	grid-template-columns: 70% 30%;
	position: relative;
}
}
.desc-barf
{
	color: #aaa;
	position: absolute;
	bottom: 12px;
	left: 80px;
}
.aboutsec
{
	height: auto;
	width: auto;
	background-color: #ffffff;
	box-sizing: border-box;
}
.tophead
{
	margin: 10% 6% 10px 8%;
	color: 	#C71585;
	font-family: sans-serif;
	font-size: 16px;
	word-spacing: 3px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.whowe
{
	display: grid;
	grid-template-rows:  35% 35%;
}
@media screen and (max-width: 769px)
{
.sectionheader
{
	color: black;
	font-size: 150%;
	margin: 1% 12% 0 8%;
	font-family: serif;
	font-weight: bold;
}
}
@media screen and (min-width: 769px)
{
.sectionheader
{
	color: black;
	font-size: 350%;
	margin: 1% 12% 0 8%;
	font-family: serif;
	font-weight: bold;
}
}
@media screen and (max-width: 769px)
{
.sectioncontent
{
	color: #777;
	margin: 7% 12% 3% 8%;
	font-size: 15px;
	line-height: 120%;
	word-spacing: 1px;
	letter-spacing: 1px;
}
}
@media screen and (min-width: 769px)
{
.sectioncontent
{
	color: #777;
	margin: 3% 12% 3% 8%;
	font-size: 28px;
	line-height: 120%;
	word-spacing: 1px;
	letter-spacing: 1px;
}
}
@media screen and (min-width: 769px)
{
.wrapper
{
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 130px;
	padding: 30px;
	margin-left: 90px;
	margin: auto;
	margin-top: 5%;
}
}
@media screen and (max-width: 769px)
{
.wrapper
{
	display: grid;
	grid-template-columns: 100%;
	margin: auto;
	padding: 5%;
	margin-left: 8%;
}
}
.wrapper-content
{
	display: grid;
	grid-template-columns: 20% 80%;
	height: auto;
}
.wrapper-a
{
	display: grid;
	grid-template-rows: 20% 80%;
	width: 90%;
	padding: 6% auto;
}
.wrapper-heading
{
	margin-top: 12px;
	font-size: 23px;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 2%;
	padding-bottom: 0;
	display: inline;
}
.num
{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color:#40e0d0;
	color: white;
	font-size: 23px;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	align-items: center;
	font-family: sans-serif;
	display: flex;
}
.wrapper-statement
{
	border-left: 2px solid #ddd;
	margin-left: 25px;
	padding-left: 40px;
	margin-bottom: 40px;
	font-size: 15px;
	padding-right: 40px;
	color: #777;
	letter-spacing: 1px;
	word-spacing: 1px;
	line-height: 120%;
}
.service
{
	background-color: #f6f6f6;
	height: auto;
	width: auto;
	box-sizing: border-box;
}
@media screen and (max-width: 769px)
{
.gridbox
{
	display: grid;
	grid-template-columns: 100%;
	margin-left: 60px;
	margin-right: 80px;
	margin-top: 130px;
}
}
@media screen and (min-width: 769px)
{
	.gridbox
{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	margin-left: 8%;
	margin-right: auto;
	margin-top: 130px;
}
}
.gridbox-section
{
	padding: 2% 6%;
}
.gridbox-heading
{
	padding:10px 0px 15px 0px;
	font-size: 23px;
	font-family: sans-serif;
	font-weight: bold;
}
.gridbox-content
{
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #666;
	font-family: sans-serif;
}
.gridbox-icon
{
	font-size: 40px;
	color: #66cdaa;
}
.container-parent {
	width: 100%;
}
@media screen and (max-width: 769px)
{
.container
{
	display: grid;
	width: 90%;
	height: 1500px;
	grid-template-columns: 100%;
	margin: 5% auto;
}
}
@media screen and (min-width: 769px)
{
.container
{
	display: grid;
	width: 90%;
	height: 650px;
	grid-template-columns: repeat(3,33.33%);
	grid-template-rows: repeat(8,12.5%);
	margin: 5% auto;
}
}
.box
{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.boxa
{
	grid-column: span 1;
	grid-row: span 5;
	background-image: url(https://images.unsplash.com/photo-1539784259147-c586d7ae2226?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1248ffc682a708bf72d86653c53cbb40&auto=format&fit=crop&w=500&q=60);
}
.boxb
{
	grid-column: span 1;
	grid-row: span 4;
	background-image: url(https://images.unsplash.com/photo-1539694265588-f101b5569bd2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0a834a23a5b5c6969405afd929f05882&auto=format&fit=crop&w=500&q=60);
}
.boxc
{
	grid-column: span 1;
	grid-row: span 5;
	background-image: url(https://images.unsplash.com/photo-1539721686033-fe80e3733958?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=354835ae54bb940aec87d32048385a41&auto=format&fit=crop&w=500&q=60);
}
.boxd
{
	grid-column: span 1;
	grid-row: span 4;
	background-image: url(https://images.unsplash.com/photo-1539744208579-527f98343df2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d232c4048911a75aa1522a1244d0e99c&auto=format&fit=crop&w=500&q=60);
}
.boxe
{
	grid-column: span 1;
	grid-row: span 3;
	background-image: url(https://images.unsplash.com/photo-1539738084316-53d142fca864?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e2390d54b1a8a38ae71906c01965b30a&auto=format&fit=crop&w=500&q=60);
}
.boxf
{
	grid-column: span 1;
	grid-row: span 3;
	background-image: url(https://images.unsplash.com/photo-1539779166145-f98bf44d5832?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d1d86bd70ceb4544eb63f687a4f3eee&auto=format&fit=crop&w=500&q=60);
}
.feature
{
	width: auto;
	height: auto;
	box-sizing: border-box;
}
.client
{
	height: auto;
	width: auto;
	padding: 5% 8%;
	box-sizing: border-box;
}
.heading-client
{
	font-size: 30px;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
}
.client-say
{
	padding: 13px 30px 20px 10px;
	color: #555;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 140%;
	letter-spacing: 1px;
	word-spacing: 1px;
}
@media screen and (min-width: 769px)
{
.client-comm
{
	display: grid;
	grid-template-columns: 10% 40% 10% 40%;
	margin: 40px 60px 20px 60px;
}
}
@media screen and (max-width: 769px)
{
.client-comm
{
	display: grid;
	grid-template-columns: 20% 80%;
	margin: auto;
}
}
.name-client
{
	color: black;
	line-height: 60%;
	margin-bottom: 0px;
}
.client-img
{
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.data-info
{
	background-image: url(https://images.unsplash.com/photo-1539803884474-f2cf0b35c286?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9128535dbc2c52ddac783474ef5400c6&auto=format&fit=crop&w=750&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	padding: 10%;
}
@media screen and (min-width: 769px)
{
.data-info-cont
{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	text-align: center;
}
}
@media screen and (max-width: 769px)
{
.data-info-cont
{
	display: grid;
	grid-template-columns: 100%;
	text-align: center;
}
}
@media screen and (min-width: 769px)
{
.numdata
{
	color: #ffffff;
	font-size: 80px;
	font-family: sans-serif;
	line-height: 70%;
}
}
@media screen and (max-width: 769px)
{
.numdata
{
	color: #ffffff;
	font-size: 60px;
	font-family: sans-serif;
	line-height: 70%;
	margin-top: 10%;
}
}
.line-bar
{
	color: #999;
	padding: 0px 0px 5px 0px;
	line-height: 200%;
}
.statement
{
	color: #bbb;
	font-family: sans-serif;
	font-size: 17px;
}
@media screen and (max-width: 769px)
{
.sectionheaderb
{
	color: white;
	font-size: 150%;
	margin: 1% 12% 0 8%;
	font-family: serif;
	font-weight: bold;
}
}
@media screen and (min-width: 769px)
{
.sectionheaderb
{
	color: white;
	font-size: 350%;
	margin: 1% 12% 0 8%;
	font-family: serif;
	font-weight: bold;
}
}
.contactus
{
	background-color: #111;
	padding: 8% 0px 8% 0px;
	box-sizing: border-box;
}
@media screen and (min-width: 769px)
{
.contact-link
{
	font-size: 60px;
	text-decoration: none;
	color: white;
	margin-left: 8%;
	font-family: sans-serif;
	font-weight: lighter;
}
}
@media screen and (max-width: 769px)
{
.contact-link
{
	font-size: 15px;
	text-decoration: none;
	color: white;
	margin-left: 8%;
	font-family: sans-serif;
	font-weight: lighter;
}
}
.contact-link:hover
{
	color: #ff1493;
}
@media screen and (max-width: 769px)
{
.no-add
{
	font-size: 10px;
	margin-top: 10px;
	color: #777;
	font-family: sans-serif;
	margin-left: 8%;
}
}
@media screen and (min-width: 769px)
{
.no-add
{
	font-size: 30px;
	margin-top: 10px;
	color: #777;
	font-family: sans-serif;
	margin-left: 8%;
}
}
@media screen and (min-width: 769px)
{
.contact-box
{
	display: grid;
	grid-template-columns: 50% 50%;
	width: auto;
	margin-left: 6%;
}
}
@media screen and (max-width: 769px)
{
	.contact-box
{
	display: grid;
	grid-template-columns: 100%;
	width: auto;
	margin-left: 6%;
}
}
.social-contact
{
	color: #777;
	text-decoration: none;
}
.email
{
	background-color: rgba(0, 0, 0, 0.3);
	padding: 10px 20px;
	height: 30px;
	color: white;
	width: 35%;
	margin-left: 35px;
	border: 0px;
}
.submit
{
	border: 0px;
	background-color: #ff1493;
	color: white;
	padding: 10px;
	height: 48px;
	margin-left: 0px;
	width: 30%;
}
form
{
	width: auto;
}
.vert
{
	transform: rotate(270deg);
	margin-right: 50px;
	margin-bottom: 0px;
	width: 100px;
}
@media screen and (max-width: 769px)
{
	.copyright
{
	display: grid;
	grid-template-columns: 60% 40%;
	margin-left: 9%;
	margin-top: 40px;
}
}
@media screen and (min-width: 769px)
{
	.copyright
{
	display: grid;
	grid-template-columns: 80% 20%;
	margin-left: 9%;
	margin-top: 40px;
}
}
.copyright-con
{
	color: #777;
}
.back:hover{
	color: #ff1463;
}
.back
{
	font-size: 50px;
	color: white;
	margin-left: 30px;
}
.bcktotop
{
	color: #777;
	text-decoration: none;
}
@media screen and (max-width: 769px)
{
.linebar
{
	margin-left: 9%;
	color: #FF69B4;
}
}
@media screen and (min-width: 769px)
{
.linebar
{
	margin-left: 9%;
	color: #FF69B4;
	margin-top: 10%;
}
}
